<section class="flex-container">
    <mat-card style="width:750px ;">
        <mat-toolbar class="header">
            <h1>
                Usuários cadastrados
            </h1>
        </mat-toolbar>
    </mat-card>
    <mat-card style="width:750px ;">
        <app-users-table 
        *ngIf="users$|async as users; else loading" 
        [users]="users" 
        (add)="onAdd()"
        (edit)="onEdit($event)" 
        (remove)="onRemove($event)">
    </app-users-table>
    </mat-card>
    <ng-template #loading>
        <div class="loadingSpinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</section>