<mat-card style="border-radius:10px">
    <mat-toolbar style="border-radius: 10px 10px 0 0;">Cadastro de Usuários</mat-toolbar>
    <form [formGroup]="form" #formDir="ngForm" class="form-group-flex">

        <input type="hidden" formControlName="id" value="">

        <mat-form-field>
            <mat-label for="description">Nome</mat-label>
            <input matInput type="text" formControlName="name" id=""
                matTooltip="Entre com os dados do usuário.">
        </mat-form-field>

        <mat-card-actions class="buttons">
            <button mat-flat-button color="primary" (click)="onSubmit()"
                matTooltip="Envia as informações do formulário.">Enviar</button>
            <button mat-flat-button color="warn" (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
    </form>
</mat-card>